form input {
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

form input[type="text"],
form input[type="password"] {
    cursor: text;
}

form input[type="submit"],
form input[type="button"] {
    cursor: pointer;
}