form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form input {
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

/* hover state not working */
/* form:hover {
    cursor: pointer;
} */

form input[type="text"] {
    background-color: cadetblue;
}

form input[type="submit"] {
    background-color: chartreuse;
}